.container {
  padding: 8px;
  margin: 0 auto;
  max-width: 968px;
}

.section {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 16px;
  border: 2px solid rgba(0, 0, 0, 0.125);
}

body[data-theme='dark'] .section {
  background-color: #212529;
  color: white;
}
