.theme_checkbox {
  display: none;
}

.theme_label {
  position: fixed;
  bottom: 32px;
  right: 32px;

  width: 64px;
  height: 64px;
  background-color: rgba(0, 102, 204, 0.9);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  z-index: 100;
}

.theme_label > svg {
  width: 32px;
  height: 32px;
}
