/* spinner */

.spinner__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  opacity: 0.5;

  width: 100%;
  padding: 8px 0;
}

@media screen and (max-width: 768px) {
  .spinner__wrapper {
    flex-wrap: wrap;
    text-align: center;
  }
}

.spinner__wrapper::before {
  content: '';
  width: 2em;
  height: 2em;
  border: 0.2em solid #e2e8f0;
  border-top-color: #4299e1;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
