.images {
  margin: 0;
  padding: 0;
  padding-top: 8px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
}

.images > li {
  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border: 1px solid #06c;
  border-radius: 4px;
}

.images > li > img {
  max-width: 42px;
  max-height: 42px;
  width: auto;
  height: auto;
}
