.csv_panel__sticky {
  position: sticky;
  bottom: 0;
  padding: 16px 8px;
}

.csv_panel__sticky ul {
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.csv_panel__sticky ul > li {
  list-style-type: none;
}

.csv_panel__sticky > div {
  padding: 0;
}

.csv_panel__sticky > div > section {
  background-color: rgba(0, 102, 204, 1);
  opacity: 0.8;
  color: white;

  box-shadow: 0 0 8px rgba(0, 102, 204, 0.3);
  border: 2px solid rgba(0, 102, 204, 0.125);
}
