.array {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.element {
  list-style-type: none;
  border: 1px solid #06c;
  border-radius: 8px;
  padding: 8px;
  width: 300px;
}

.element[data-is-new="1"] {
  background-color: rgb(0, 128, 0, 0.4);
}

.key_value_block {
  display: flex;
}

.key_value_block > div:first-child {
  width: 80px;
  text-transform: capitalize;
  font-weight: bold;
}

.key_value_block > div:last-child {
  width: 100%;
}

.key_value_block_for_image {
  display: flex;
  flex-direction: column;
}

.key_value_block_for_image > div:first-child {
  width: 100%;
  text-transform: capitalize;
  font-weight: bold;
}

.key_value_block_for_image > div:last-child {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.key_value_block_for_image > div:last-child > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100px;
}
