:root {
  --font-text: system-ui, "Segoe UI", Roboto, sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--font-text);
}

#root {
  width: 100%;
  height: 100%;
}
